PUBLIC_PORT=8080
PUBLIC_ORIGIN=https://aninexus.seudominio.com
POSTGRES_PASSWORD=troque-por-uma-senha-unica-com-32-ou-mais-caracteres
IP_HASH_SALT=troque-por-outro-segredo-unico-com-32-ou-mais-caracteres
COOKIE_SECURE=true
SESSION_DAYS=30
MAX_SESSIONS_PER_USER=10
PG_POOL_MAX=30
NEWS_PG_POOL_MAX=5
NEWS_WORKER_INTERVAL_MS=300000
NEWS_RETENTION_DAYS=5
